.Dictionary section {
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  background: var(--third-color);
  margin-top: 10px;
  padding: 10px 10px;
  line-height: 15px;
}

.Dictionary .search-input-form {
  padding: 20px;
  width: 60%;
  border-radius: 40px;
  font-size: 20px;
  margin: 10px 20px;
}

.Dictionary .hint {
  font-style: italic;
  font-size: 20px;
}

@media (max-width: 800px) {
  .Dictionary section {
    padding: 20px 20px;
  }

  .search-input-form {
    padding: 10px;
    width: 80%;
    border-radius: 40px;
    font-size: 20px;
    margin: 10px 20px;
    line-height: 5px;
  }

  .Dictionary.hint {
    font-size: 12px;
  }
}
