.Results h2 {
  font-family: var(--second-font);
  font-size: 24px;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-decoration: underline;
  line-height: 5px;
}

.Results h3 {
  color: black;
  text-align: center;
  padding: 10px;
  line-height: 5px;
}

.Results p {
  color: black;
}
